<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <p>API endpoint:</p>
    <p>/api/:date</p>
    <p>How to use?</p>
    <ul>
      <li><a href="/api/2024-05-25">/api/2024-05-25</a></li>
      <li><a href="/api/1451001600000">/api/1451001600000</a></li>
      <li>
        <a href="/api/">/api/</a>(desired date and time for which you want unix)
      </li>
    </ul>
    <footer>by: <a href="https://github.com/harshith-1008">Harshith</a></footer>
  </body>
</html>
